[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
    }

#header {
    margin-bottom: 0;
    }
#footer {
    margin-top: 3em;
    }
.footer-visual {
    border-top: 1px solid #e7e7e7;
    padding: 2em 0 2.5em;
    }
.input-group {
    width:100%;
    }

#cessna-video-tab {
    margin-bottom: 1em;
    }

/* Global Navigation */
#header .navbar-nav li a:hover {
    background-color: #e7e7e7;
    }
.nav-tabs > li > a:active,
.nav-tabs > li.active > a {
    outline: none;
    }

/* Logo */
#header .navbar-brand > img {
    margin-right: 6px;
    }

/* Layout */
.addthis_sharing_toolbox {
    margin: 0.5em 0;
    }
.thumbnail {
    margin-bottom: 0;
    }
.event-item .thumbnail {
    margin-bottom: 1em;
    }
.thumbnail img {
    width: 100%;
    }
.thumbnail .glyphicon-wrapper {
    text-align: center;
    }
.thumbnail .glyphicon-wrapper .glyphicon {
    background-color: #444;
    color: #fff;
    font-size: 5em;
    height: 168px;
    padding-top: 50px;
    text-align: center;
    width: 100%;
    }
.thumbnail .glyphicon {
    margin: 0 5px 0 0;
    }
.caption {
    padding: 0 6px;
    }
.caption h3 {
    margin-top: 10px;
    }
.caption small {
    display: inline-block;
    margin: -7px 0 6px;
    padding: 3px;
    }
.past-event {
    background-color: rgba(0,0,0,0.025);
    border-radius: 4px;
    margin: -0.5em -0.5em 0;
    opacity: 0.55;
    padding: 0.5em 0.5em 1em;
    }
.past-event h3 a {
    color: #333;
    }

/* Block News */
.block-news {
    margin-top: 2em;
    }
.events-item,
.news-item {
    margin-bottom: 2.5em;
    display: inline-block;
    float: none;
    vertical-align: top;
    }
.news-item h5 {
    margin-bottom: 0;
    font-weight: bold;
    }

/* Widget Events*/
.widget-events .event-item {
    margin-bottom: 2.5em;
    }
.widget-events .thumbnail {
    margin-bottom: 0;
    }
.widget-events .post-title {
    margin: 0.5em 0;
    }

/* Filter News*/
#filterNews {
    border-right: 3px solid #e7e7e7;
    margin: 0 0 0 -15px;
    padding: 0 15px 15px 0;
    }
#filterNews h4 {
    margin-top: 0;
    }
.cat-item {
    clear: both;
    margin-bottom: 5px;
    }
#filterNews input[type="checkbox"] {
    float: left;
    margin: 0 4px 0 0;
    }
#filterNews label {
    display: block;
    font-weight: normal;
    overflow: hidden;
    }

/* Pager */
.pager li {
    display: inline-block;
    vertical-align: middle;
    }
.pager li.lead {
    margin: 0;
    padding: 0 1em;
    }
