---
layout: default
title: "Події"
description: "Огляд подій з моделізму."
description_meta: "Огляд подій з радіокерованого моделізму."
date: 2015-03-09 22:10:04
permalink: /events/
---

<h1>{{ page.title }}</h1>
<p class="lead">{{ page.description }}</p>

<div class="container">
<div class="row">
<div ng-app="App" ng-cloak>
    <div ng-controller="EventsListM" ng-init="showData()">

        <div class="col-sm-2 col-md-2">
            <form name="filterNews" id="filterNews">
                <h4>Фільтр по категоріях</h4>
                <div class="cat-item">
                    <input value="cat-sailplane" id="cat-sailplane" type="checkbox" data-ng-model='search.categories' data-ng-true-value="'Sailplane'">
                    <label for="cat-sailplane">Планери</label>
                </div>
                <div class="cat-item">
                    <input value="cat-aircraft" id="cat-aircraft" type="checkbox" data-ng-model='search.categories' data-ng-true-value="'Aircraftflite'">
                    <label for="cat-aircraft">Літаки</label>
                </div>
                <div class="cat-item">
                    <input value="cat-helicopters" id="cat-helicopters" type="checkbox" data-ng-model='search.categories' data-ng-true-value="'Helicopters'">
                    <label for="cat-helicopters">Гелікоптери</label>
                </div>
                <div class="cat-item">
                    <input value="cat-multicopters" id="cat-multicopters" type="checkbox" data-ng-model='search.categories' data-ng-true-value="'Multicopters'">
                    <label for="cat-multicopters">Мультикоптери</label>
                </div>
                <div class="cat-item">
                    <input value="cat-transmitters" id="cat-transmitters" type="checkbox" data-ng-model='search.categories' data-ng-true-value="'Cars'">
                    <label for="cat-transmitters">Автомобілі</label>
                </div>
            </form>
            



<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addEvent">
  Додати подію
</button>

<!-- Modal -->
<div class="modal fade" id="addEvent" tabindex="-1" role="dialog" aria-labelledby="addEventLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addEventLabel">Modal title</h4>
      </div>
      <div class="modal-body">
<form action="https://docs.google.com/forms/d/1d5Y9bzl65P4BaKIX56tZtyp8tSj5Rp_RCmsYBgLRzCY/formResponse" method="POST" id="ss-form" target="_self" onsubmit="">
    <ol role="list" class="ss-question-list" style="padding-left: 0">
        <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-item-required ss-text">
                <div class="ss-form-entry">
                    <label class="ss-q-item-label" for="entry_458538046">
                        <div class="ss-q-title">Назва Події
                            <label for="itemView.getDomIdToLabel()" aria-label="(Обов’язкове поле)"></label>
                            <span class="ss-required-asterisk" aria-hidden="true">*</span></div>
                        <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                    </label>
                    <input type="text" name="entry.458538046" value="" class="ss-q-short" id="entry_458538046" dir="auto" aria-label="Назва Події  " aria-required="true" required="" title="">
                    <div class="error-message" id="302266661_errorMessage"></div>
                    <div class="required-message">Відповідь на це запитання обов’язкова</div>
                </div>
            </div>
        </div>
        <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item  ss-paragraph-text">
                <div class="ss-form-entry">
                    <label class="ss-q-item-label" for="entry_1195891589">
                        <div class="ss-q-title">Короткий опис події
                        </div>
                        <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                    </label>
                    <textarea name="entry.1195891589" rows="8" cols="0" class="ss-q-long" id="entry_1195891589" dir="auto" aria-label="Короткий опис події  "></textarea>
                    <div class="error-message" id="132995653_errorMessage"></div>
                    <div class="required-message">Відповідь на це запитання обов’язкова</div>
                </div>
            </div>
        </div>
        <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-item-required ss-text">
                <div class="ss-form-entry">
                    <label class="ss-q-item-label" for="entry_315499555">
                        <div class="ss-q-title">Дата початку події
                            <label for="itemView.getDomIdToLabel()" aria-label="(Обов’язкове поле)"></label>
                            <span class="ss-required-asterisk" aria-hidden="true">*</span></div>
                        <div class="ss-q-help ss-secondary-text" dir="ltr">05.03.2013, 11:30</div>
                    </label>
                    <input type="text" name="entry.315499555" value="" class="ss-q-short" id="entry_315499555" dir="auto" aria-label="Дата початку події 05.03.2013, 11:30 " aria-required="true" required="" title="">
                    <div class="error-message" id="1993986751_errorMessage"></div>
                    <div class="required-message">Відповідь на це запитання обов’язкова</div>
                </div>
            </div>
        </div>
        <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-item-required ss-text">
                <div class="ss-form-entry">
                    <label class="ss-q-item-label" for="entry_938741501">
                        <div class="ss-q-title">Дата кінця події
                            <label for="itemView.getDomIdToLabel()" aria-label="(Обов’язкове поле)"></label>
                            <span class="ss-required-asterisk" aria-hidden="true">*</span></div>
                        <div class="ss-q-help ss-secondary-text" dir="ltr">08.03.2013, 11:30</div>
                    </label>
                    <input type="text" name="entry.938741501" value="" class="ss-q-short" id="entry_938741501" dir="auto" aria-label="Дата кінця події 08.03.2013, 11:30 " aria-required="true" required="" title="">
                    <div class="error-message" id="1477908895_errorMessage"></div>
                    <div class="required-message">Відповідь на це запитання обов’язкова</div>
                </div>
            </div>
        </div>
        <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item  ss-paragraph-text">
                <div class="ss-form-entry">
                    <label class="ss-q-item-label" for="entry_2027141530">
                        <div class="ss-q-title">Місце проведення
                        </div>
                        <div class="ss-q-help ss-secondary-text" dir="ltr">Вказати: країну, область, місто, вулицю, номер споруди та її назву</div>
                    </label>
                    <textarea name="entry.2027141530" rows="8" cols="0" class="ss-q-long" id="entry_2027141530" dir="auto" aria-label="Місце проведення Вказати: країну, область, місто, вулицю, номер споруди та її назву "></textarea>
                    <div class="error-message" id="772986941_errorMessage"></div>
                    <div class="required-message">Відповідь на це запитання обов’язкова</div>
                </div>
            </div>
        </div>
        <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item  ss-paragraph-text">
                <div class="ss-form-entry">
                    <label class="ss-q-item-label" for="entry_563500012">
                        <div class="ss-q-title">Організатори
                        </div>
                        <div class="ss-q-help ss-secondary-text" dir="ltr">Вказати організацію, що проводить подію</div>
                    </label>
                    <textarea name="entry.563500012" rows="8" cols="0" class="ss-q-long" id="entry_563500012" dir="auto" aria-label="Організатори Вказати організацію, що проводить подію "></textarea>
                    <div class="error-message" id="1073442479_errorMessage"></div>
                    <div class="required-message">Відповідь на це запитання обов’язкова</div>
                </div>
            </div>
        </div>
        <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item  ss-text">
                <div class="ss-form-entry">
                    <label class="ss-q-item-label" for="entry_370148835">
                        <div class="ss-q-title">Інтернет сторінка події
                        </div>
                        <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                    </label>
                    <input type="text" name="entry.370148835" value="" class="ss-q-short" id="entry_370148835" dir="auto" aria-label="Інтернет сторінка події  Адреса має починатись з http://" pattern=".*http://.*" title="&#1040;&#1076;&#1088;&#1077;&#1089;&#1072; &#1084;&#1072;&#1108; &#1087;&#1086;&#1095;&#1080;&#1085;&#1072;&#1090;&#1080;&#1089;&#1100; &#1079; http://">
                    <div class="error-message" id="1537208173_errorMessage">&#1040;&#1076;&#1088;&#1077;&#1089;&#1072; &#1084;&#1072;&#1108; &#1087;&#1086;&#1095;&#1080;&#1085;&#1072;&#1090;&#1080;&#1089;&#1100; &#1079; http://</div>
                    <div class="required-message">Відповідь на це запитання обов’язкова</div>
                </div>
            </div>
        </div>
        <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-item-required ss-text">
                <div class="ss-form-entry">
                    <label class="ss-q-item-label" for="entry_382767348">
                        <div class="ss-q-title">Контактна особа
                            <label for="itemView.getDomIdToLabel()" aria-label="(Обов’язкове поле)"></label>
                            <span class="ss-required-asterisk" aria-hidden="true">*</span></div>
                        <div class="ss-q-help ss-secondary-text" dir="ltr">До кого звертатись у випадку появи запитань.</div>
                    </label>
                    <input type="text" name="entry.382767348" value="" class="ss-q-short" id="entry_382767348" dir="auto" aria-label="Контактна особа До кого звертатись у випадку появи запитань. " aria-required="true" required="" title="">
                    <div class="error-message" id="97109765_errorMessage"></div>
                    <div class="required-message">Відповідь на це запитання обов’язкова</div>
                </div>
            </div>
        </div>
        <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-item-required ss-text">
                <div class="ss-form-entry">
                    <label class="ss-q-item-label" for="entry_1926445712">
                        <div class="ss-q-title">Контактний телефон
                            <label for="itemView.getDomIdToLabel()" aria-label="(Обов’язкове поле)"></label>
                            <span class="ss-required-asterisk" aria-hidden="true">*</span></div>
                        <div class="ss-q-help ss-secondary-text" dir="ltr">Телефон контактної особи</div>
                    </label>
                    <input type="text" name="entry.1926445712" value="" class="ss-q-short" id="entry_1926445712" dir="auto" aria-label="Контактний телефон Телефон контактної особи " aria-required="true" required="" title="">
                    <div class="error-message" id="1078390718_errorMessage"></div>
                    <div class="required-message">Відповідь на це запитання обов’язкова</div>
                </div>
            </div>
        </div>
        <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item  ss-text">
                <div class="ss-form-entry">
                    <label class="ss-q-item-label" for="entry_409964361">
                        <div class="ss-q-title">Контактний E-mail
                        </div>
                        <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                    </label>
                    <input type="text" name="entry.409964361" value="" class="ss-q-short" id="entry_409964361" dir="auto" aria-label="Контактний E-mail  E-mail має містити @" pattern=".*@.*" title="E-mail &#1084;&#1072;&#1108; &#1084;&#1110;&#1089;&#1090;&#1080;&#1090;&#1080; @">
                    <div class="error-message" id="150448819_errorMessage">E-mail &#1084;&#1072;&#1108; &#1084;&#1110;&#1089;&#1090;&#1080;&#1090;&#1080; @</div>
                    <div class="required-message">Відповідь на це запитання обов’язкова</div>
                </div>
            </div>
        </div>
        <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-item-required ss-checkbox">
                <div class="ss-form-entry">
                    <label class="ss-q-item-label" for="entry_1348289339">
                        <div class="ss-q-title">Тип моделізму
                            <label for="itemView.getDomIdToLabel()" aria-label="(Обов’язкове поле)"></label>
                            <span class="ss-required-asterisk" aria-hidden="true">*</span></div>
                        <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                    </label>
                    <ul class="ss-choices ss-choices-required" role="group" aria-label="Тип моделізму  ">
                        <li class="ss-choice-item">
                            <label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.2034489046" value="&#1055;&#1083;&#1072;&#1085;&#1077;&#1088;&#1080;" id="group_2034489046_1" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
                                <span class="ss-choice-label">Планери</span>
                            </label>
                        </li>
                        <li class="ss-choice-item">
                            <label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.2034489046" value="&#1051;&#1110;&#1090;&#1072;&#1082;&#1080;" id="group_2034489046_2" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
                                <span class="ss-choice-label">Літаки</span>
                            </label>
                        </li>
                        <li class="ss-choice-item">
                            <label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.2034489046" value="&#1042;&#1077;&#1088;&#1090;&#1086;&#1083;&#1100;&#1086;&#1090;&#1080;" id="group_2034489046_3" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
                                <span class="ss-choice-label">Вертольоти</span>
                            </label>
                        </li>
                        <li class="ss-choice-item">
                            <label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.2034489046" value="&#1052;&#1091;&#1083;&#1100;&#1090;&#1080;&#1082;&#1086;&#1087;&#1090;&#1077;&#1088;&#1080;" id="group_2034489046_4" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
                                <span class="ss-choice-label">Мультикоптери</span>
                            </label>
                        </li>
                        <li class="ss-choice-item">
                            <label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.2034489046" value="&#1040;&#1074;&#1090;&#1086;&#1084;&#1086;&#1073;&#1110;&#1083;&#1110;" id="group_2034489046_5" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
                                <span class="ss-choice-label">Автомобілі</span>
                            </label>
                        </li>
                        <li class="ss-choice-item">
                            <label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.2034489046" value="&#1050;&#1086;&#1088;&#1072;&#1073;&#1083;&#1110;" id="group_2034489046_6" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
                                <span class="ss-choice-label">Кораблі</span>
                            </label>
                        </li>
                    </ul>
                    <div class="error-message" id="1348289339_errorMessage"></div>
                    <div class="required-message">Відповідь на це запитання обов’язкова</div>
                </div>
            </div>
        </div>
        <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item  ss-paragraph-text">
                <div class="ss-form-entry">
                    <label class="ss-q-item-label" for="entry_580289679">
                        <div class="ss-q-title">Деталі реєстрації на подію
                        </div>
                        <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                    </label>
                    <textarea name="entry.580289679" rows="8" cols="0" class="ss-q-long" id="entry_580289679" dir="auto" aria-label="Деталі реєстрації на подію  "></textarea>
                    <div class="error-message" id="1160857201_errorMessage"></div>
                    <div class="required-message">Відповідь на це запитання обов’язкова</div>
                </div>
            </div>
        </div>
        <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item  ss-text">
                <div class="ss-form-entry">
                    <label class="ss-q-item-label" for="entry_1608083813">
                        <div class="ss-q-title">Лінк на логотип події
                        </div>
                        <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                    </label>
                    <input type="text" name="entry.1608083813" value="" class="ss-q-short" id="entry_1608083813" dir="auto" aria-label="Лінк на логотип події  " title="">
                    <div class="error-message" id="791789477_errorMessage"></div>
                    <div class="required-message">Відповідь на це запитання обов’язкова</div>
                </div>
            </div>
        </div>
        <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item  ss-paragraph-text">
                <div class="ss-form-entry">
                    <label class="ss-q-item-label" for="entry_293218088">
                        <div class="ss-q-title">Інше
                        </div>
                        <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                    </label>
                    <textarea name="entry.293218088" rows="8" cols="0" class="ss-q-long" id="entry_293218088" dir="auto" aria-label="Інше  "></textarea>
                    <div class="error-message" id="348528885_errorMessage"></div>
                    <div class="required-message">Відповідь на це запитання обов’язкова</div>
                </div>
            </div>
        </div>
        <input type="hidden" name="draftResponse" value="[,,&quot;8187829258210801310&quot;]">
        <input type="hidden" name="pageHistory" value="0">
        <input type="hidden" name="fbzx" value="8187829258210801310">
        <div class="ss-item ss-navigate">
            <table id="navigation-table">
                <tbody>
                    <tr>
                        <td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
                            <input type="submit" name="submit" value="&#1053;&#1072;&#1076;&#1110;&#1089;&#1083;&#1072;&#1090;&#1080;" id="ss-submit" class="jfk-button jfk-button-action ">
                            <div class="ss-password-warning ss-secondary-text">Ніколи не вказуйте паролі в Google Формах.</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ol>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>






            
            
            
            
            
            
            
        </div>

        <div class="events-item col-sm-10 col-md-10">

            <div class="row">
                <div class="events-item col-sm-6 col-md-4" ng-repeat="eitem in filterWIthSearch()">
                <div ng-class="{'past-event': dt > {(eitem.event_starts | date:'yyyyMMdd')} }">
                    <div class="thumbnail">
                        <img alt="{(eitem.title)}" ng-src="{(eitem.image)}">
                    </div>
                    <div class="caption">
                        <h3 class="title">
                            <a title="{(eitem.description)}" ng-href="{(eitem.url)}">
                                {(eitem.title)}
                            </a>
                        </h3>
                        <p>
                          Дата початку: <strong>{(eitem.event_starts| date:'mediumDate')}</strong><br />
                          Дата завершення: <strong>{(eitem.event_ends| date:'mediumDate')}</strong>
                        </p>
                        <p>
                          <strong>Місце:</strong>
                          <span>{( eitem.event_location_country )}</span>,
                          <span>{( eitem.event_location_city )}</span>,
                          <span>{( eitem.event_location_street )}</span>,
                          <span>{( eitem.event_location_name )}</span>.
                        </p>
                        <a ng-href="{(eitem.url)}" class="btn btn-primary">Читати...</a>
                    </div>
                </div>
                </div>
            </div>

            <nav>
              <ul class="pager">
                <li><button type="button" class="btn lead btn-primary btn-lg" ng-disabled="curPage == 0" ng-click="curPage=curPage-1">Previous</button></li>
                <li class="lead">
                    Page {(curPage + 1)} of {( numberOfPages )}
                </li>
                <li><button type="button" class="btn btn-primary btn-lg" ng-disabled="curPage >= numberOfPages - 1" ng-click="curPage = curPage+1">Next</button></li>
              </ul>
            </nav>

        </div>

    </div>
</div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.js"></script>
<script type="text/javascript" src="{{ "/js/app-events.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="https://code.angularjs.org/1.3.10/i18n/angular-locale_uk.js"></script>
<script type="text/javascript">H5F.setup(document.getElementById('ss-form'));
          _initFormViewer(
            "[100,,[[[370148835,[[2,100,[\x22http://\x22]\n,\x22\u0410\u0434\u0440\u0435\u0441\u0430 \u043c\u0430\u0454 \u043f\u043e\u0447\u0438\u043d\u0430\u0442\u0438\u0441\u044c \u0437 http://\x22]\n]\n]\n,[409964361,[[2,100,[\x22@\x22]\n,\x22E-mail \u043c\u0430\u0454 \u043c\u0456\u0441\u0442\u0438\u0442\u0438 @\x22]\n]\n]\n]\n]\n]\n");
</script>
