---
layout: default
title: "Події"
description: "Огляд подій з моделізму."
description_meta: "Огляд подій з радіокерованого моделізму."
date: 2015-03-09 22:10:04
permalink: /events/
---

<h1>{{ page.title }}</h1>
<p class="lead">{{ page.description }}</p>

<div class="container">
<div class="row">
<div ng-app="App" ng-cloak>
    <div ng-controller="EventsListM" ng-init="showData()">

        <div class="col-sm-2 col-md-2">
            <form name="filterNews" id="filterNews">
                <h4>Фільтр по категоріях</h4>
                <div class="cat-item">
                    <input value="cat-sailplane" id="cat-sailplane" type="checkbox" data-ng-model='search.categories' data-ng-true-value="'Sailplane'">
                    <label for="cat-sailplane">Планери</label>
                </div>                
                <div class="cat-item">
                    <input value="cat-aircraft" id="cat-aircraft" type="checkbox" data-ng-model='search.categories' data-ng-true-value="'Aircraftflite'">
                    <label for="cat-aircraft">Літаки</label>
                </div>
                <div class="cat-item">
                    <input value="cat-helicopters" id="cat-helicopters" type="checkbox" data-ng-model='search.categories' data-ng-true-value="'Helicopters'">
                    <label for="cat-helicopters">Гелікоптери</label>
                </div>
                <div class="cat-item">
                    <input value="cat-multicopters" id="cat-multicopters" type="checkbox" data-ng-model='search.categories' data-ng-true-value="'Multicopters'">
                    <label for="cat-multicopters">Мультикоптери</label>
                </div>
                <div class="cat-item">
                    <input value="cat-transmitters" id="cat-transmitters" type="checkbox" data-ng-model='search.categories' data-ng-true-value="'Cars'">
                    <label for="cat-transmitters">Автомобілі</label>
                </div>
            </form>
        </div>

        <div class="events-item col-sm-10 col-md-10">

            <div class="row">
                <div class="events-item col-sm-6 col-md-4" ng-repeat="eitem in filterWIthSearch()">
                <div ng-class="{'past-event': dt > {(eitem.event_starts | date:'yyyyMMdd')} }">
                    <div class="thumbnail">
                        <img alt="{(eitem.title)}" ng-src="{(eitem.image)}">
                    </div>
                    <div class="caption">
                        <h3 class="title">
                            <a title="{(eitem.description)}" ng-href="{(eitem.url)}">
                                {(eitem.title)}
                            </a>
                        </h3>
                        <p>
                          Дата початку: <strong>{(eitem.event_starts| date:'mediumDate')}</strong><br />
                          Дата завершення: <strong>{(eitem.event_ends| date:'mediumDate')}</strong>
                        </p>
                        <p>
                          <strong>Місце:</strong>
                          <span>{( eitem.event_location_country )}</span>,
                          <span>{( eitem.event_location_city )}</span>,
                          <span>{( eitem.event_location_street )}</span>,
                          <span>{( eitem.event_location_name )}</span>.
                        </p>
                        <a ng-href="{(eitem.url)}" class="btn btn-primary">Читати...</a>
                    </div>
                </div>
                </div>
            </div>

            <nav>
              <ul class="pager">
                <li><button type="button" class="btn lead btn-primary btn-lg" ng-disabled="curPage == 0" ng-click="curPage=curPage-1">Previous</button></li>
                <li class="lead">
                    Page {(curPage + 1)} of {( numberOfPages )}
                </li>
                <li><button type="button" class="btn btn-primary btn-lg" ng-disabled="curPage >= numberOfPages - 1" ng-click="curPage = curPage+1">Next</button></li>
              </ul>
            </nav>

        </div>

    </div>
</div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.js"></script>
<script type="text/javascript" src="{{ "/js/app-events.js" | prepend: site.baseurl }}"></script>
<script src="https://code.angularjs.org/1.3.10/i18n/angular-locale_uk.js"></script>
