---
layout: default
---

<h1>Вітаємо Вас в github спільноті моделістів.</h1>
<p class="lead">Маємо за мету зібрати та впорядкувати матеріали щодо моделізму в різних його варяціях. Запрошуємо і Вас ставати активними учасниками спільноти і ділитись своїми цікавими розробками.</p>

<div class="row">

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <div class="glyphicon-wrapper">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </div>
      </div>
      <div class="caption">
        <h3>Приєднатись до спільноти</h3>
        <p>Щоб приєднатися до спільноти, будь ласка, <a target="_blank" href="https://github.com/modelism/modelism.github.io/issues/new?title=Please add me to the modelism&amp;body=Thank you"><strong>зробіть запит</strong></a>.
        </p>
        <div class="alert alert-info alert-dismissible small" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Примітка:</strong> Щоб зробити запит на приєднання до спільноти Ви повинні мати обліковий запис GitHub, <a target="_blank" class="alert-link" href="https://github.com/signup/free"><strong>безкоштовна реєстрація тут.</strong></a>
        </div>
      </div>
    </div>

    {% for page in site.pages limit:3 %}
    {% if page.categories contains 'index' %}
      <div class="col-sm-6 col-md-3">
        {% if page.image %}
          <div class="thumbnail">
            <img src="{{ page.image | prepend: site.url }}" alt="{{ page.title }}">
          </div>
        {% endif %}
        <div class="caption">
          {% if page.title %}
            <h3>{{ page.title }}</h3>
          {% endif %}
          <p>{{ page.description_meta }}</p>
          <p><a href="{{ page.url | prepend: site.baseurl }}" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-plane" aria-hidden="true"></span> Читати більше...</a></p>
        </div>
      </div>
    {% endif %}
    {% endfor %}

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="{{ site.url }}/images/bg-issues.jpg" alt="Задачі, які потребують вирішення">
      </div>
      <div class="caption">
        <h3>Задати питання</h3>
        <p>Щоб задати питання, пропозицію, чи інше, будь ласка, <a target="_blank" href="https://github.com/modelism/modelism.github.io/issues/new"><strong>створіть запит</strong></a> або пишіть на <a href="mailto:{{ site.email }}">gvizdyk[at]gmail.com</a>.</p>
        <p><a href="https://github.com/modelism/community/issues" target="_blank" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Переглянути запити</a></p>
      </div>
    </div>

</div>
