<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %} Вітаємо Вас в спільноті моделістів {% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 300 }}{% else %}{{ site.description | page.description}}{% endif %}">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-TileImage" content="/images/favicons/mstile-144x144.png">

    {% if page.image %}
        <link rel='image_src' href='{{page.image}}' />
    {% endif %}

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "Cпільнота моделістів"
            "url": "http://modelism.github.io",
            "logo": "http://modelism.github.io/images/logo.png",
            "event": [
                {% for post in site.posts limit:4 %}
                    {% if post.categories contains 'events' %}
                        {
                            "@context" : "http://schema.org",
                            "@type" : "Event",
                            "name" : "{{ post.title }}",
                            "startDate" : "{{ post.event_ends | date_to_xmlschema }}",
                            "location" : {
                                "@type" : "Place",
                                "address" : {
                                    "@type" : "PostalAddress",
                                    "addressCountry" : "{% if post.event_location_country %}{{ post.event_location_country }}{% endif %}",
                                    "addressLocality" : "{% if post.event_location_city %}{{ post.event_location_city }}{% endif %}",
                                    "streetAddress" : "{% if post.event_location_street %}{{ post.event_location_street }}{% endif %}"
                                    },
                                "name" : "{{ post.organization }}"
                            }
                        },
                    {% endif %}
                {% endfor %}
                {
                    "@context" : "http://schema.org",
                    "@type" : "Event",
                    "name" : "Старт роботи сайту спільноти моделістів",
                    "startDate" : "2015-01-01T10:00:00+02:00"
                }
            ]
        }
    </script>

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54abea140bd4a89b" async="async"></script>

    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/modelism.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-58065670-1', 'auto');
      ga('send', 'pageview');
    </script>
</head>
