<div class="widget-events">
{% for post in site.posts limit:3 %}
{% if post.categories contains 'events' %}
  <div itemscope itemtype="http://schema.org/Event" class="event-item">
    {% if post.image %}
      <div class="thumbnail">
        <img itemprop="image" src="{{ post.image }}" alt="{{ post.title }}">
      </div>
    {% endif %}
    <h4 itemprop="name" class="post-title">{{ post.title }}</h4>
    <p>
      Дата початку: <strong itemprop="startDate" content="{{ post.event_starts | date_to_xmlschema }}">{{ post.event_starts | date_to_long_string }}</strong><br />
      Дата завершення: <strong itemprop="endDate" content="{{ post.event_ends | date_to_xmlschema }}">{{ post.event_ends | date_to_long_string }}</strong>
    </p>
    <p itemprop="location" itemscope itemtype="http://schema.org/Place">
      <strong>Місце:</strong>
      <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        {% if post.event_location_country %}
          <span itemprop="addressCountry">{{ post.event_location_country }}</span>,
        {% endif %}
        {% if post.event_location_city %}
          <span itemprop="addressLocality">{{ post.event_location_city }}</span>,
        {% endif %}
        {% if post.event_location_street %}
          <span itemprop="streetAddress">{{ post.event_location_street }}</span>,
        {% endif %}
      </span>
      {% if post.event_location_name %}
        <span itemprop="name">{{ post.event_location_name }}</span>.
      {% endif %}
    </p>
    <p><a href="{{ post.url | prepend: site.url }}" title="{{ post.title }}" class="btn btn-primary" role="button" itemprop="url">Читати більше...</a></p>
  </div>
{% endif %}
{% endfor %}
</div>
