---
layout: default
---
<div itemscope itemtype="http://schema.org/Event" class="row">
<div class="col-md-9">
  <div class="post">
    <div class="post-header">
      <h1 itemprop="name" class="post-title">{{ page.title }}</h1>
    </div>
    {% if page.image %}
      <div class="thumbnail">
        <img itemprop="image" src="{{ page.image }}" alt="{{ page.title }}">
      </div>
    {% endif %}
    <article itemprop="description" class="post-content">
      {{ content }}
    </article>
    <p><a href="{{ page.url | prepend: site.url }}" itemprop="url">{{ page.url | prepend: site.url }}</a></p>
    <div class="addthis_sharing_toolbox"></div>
  </div>
</div>
<div class="col-md-3">
    <h3>
      <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
      Дата:
    </h3>
    <p>
      Дата початку: <strong itemprop="startDate" content="{{ page.event_starts | date_to_xmlschema }}">{{ page.event_starts | date_to_long_string }}</strong><br />
      Дата завершення: <strong itemprop="endDate" content="{{ page.event_ends | date_to_xmlschema }}">{{ page.event_ends | date_to_long_string }}</strong>
    </p>

    <h3>
      <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
      Місце:
    </h3>
    <p itemprop="location" itemscope itemtype="http://schema.org/Place">
      <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        {% if page.event_location_country %}
          <span itemprop="addressCountry">{{ page.event_location_country }}</span>,
        {% endif %}
        {% if page.event_location_city %}
          <span itemprop="addressLocality">{{ page.event_location_city }}</span>,
        {% endif %}
        {% if page.event_location_street %}
          <span itemprop="streetAddress">{{ page.event_location_street }}</span>,
        {% endif %}
      </span>
      {% if page.event_location_name %}
        <span itemprop="name">{{ page.event_location_name }}</span>.
      {% endif %}
    </p>
      
    

    {% if page.organization %}
      <h3>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        Організатори:
      </h3>
      <p itemprop="performer" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ page.organization }}</span>
      </p>
    {% endif %}

    <h3>
      <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
      Контакти:
    </h3>
    <p>
      {% if page.contact_name %}
        {{ page.contact_name }}<br />
      {% endif %}
      {% if page.contact_e-mail %}
        {{ page.contact_e-mail }}<br />
      {% endif %}
      {% if page.contact_phone %}
        {{ page.contact_phone }}<br />
      {% endif %}
      {% if page.event_url %}
        {{ page.event_url }}<br />
      {% endif %}
    </p>
    
    {% if page.event_register %}
      <h3>
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        Участь:
      </h3>
      <p>{{ page.event_register }}</p>
    {% endif %}
</div>
</div>
